DIV#recording-cover-art {

    float: left;
    width: 30%;
}

DIV#recording-tracks {
    float: right;
    width: 70%;
}

.field--name-field-artists  .field__label { display: none; }
.field--name-field-artists  .field__items { font-size: 2em; }
.collection-track-details { width: 100%; margin-top: 50px; }

.collection-track-title { float: left; width: 80%; margin-bottom: 10px;  }
.collection-track-duration { float: right; width: 20%;   }
.collection-track-audio-player { margin-top: 20px;}