{{ attach_library('rfn_collections/playlist') }}

<div id="recording-cover-art">
    {% for img in node.field_cover_art %}
        <img src="{{ img.entity.uri.value | image_style('large') }}" alt="{{img.entity.field_image.alt}}"/>
    {% endfor %}
    {{ content.field_artists }}

</div>
<div id="recording-tracks">
    {{ generate_playlist_html(tracks, node) | raw }}
    <hr>
</div>



