I am row for {{  track_name }} streaming from {{  track_streaming_uri }}<br>


<audio controls controlsList="nodownload" onplay="stopAllOtherPlayers(event);">
    <source src=" {{  track_streaming_uri }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
